@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #e9f1ff;
  overflow-x: hidden;
}
/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #9ae9e9; /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border-radius for a rounded thumb */
}

/* Customize the scrollbar track when not actively scrolling */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the color of the scrollbar track */
}

/* Customize the scrollbar handle when hovered over */
::-webkit-scrollbar-thumb:hover {
  background-color: #217dbb; /* Set a different color when hovered over */
}

/* Customize the scrollbar corner (if applicable) */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* Set the color of the scrollbar corner */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
